<div class="jumbotron">
    <table class="table">
        <tr>
            <td>{{ contato.nome }}</td>
        </tr>
        <tr>
            <td>{{ contato.telefone }}</td>
        </tr>
        <tr>
            <td>{{ contato.data | date: 'dd/MM/yyyy' }}</td>
        </tr>
    </table>
    <a href="#/contatos" class="btn btn-primary btn-block">Voltar</a>
</div>

<div class="jumbotron">
    <table class="table">
        <th>
            <td></td>
            <td>Id</td>
            <td>Title</td>
        </th>
        <tr ng-repeat="item in todos">
            <td><input type="checkbox" ng-model="item.completed"></td>
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
        </tr>
    </table>
</div>